.other_details_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.other_details_id {
  display: flex;
}
.other_details_id_text {
  padding-top: 32px;
  padding-bottom: 60px;
}

.other_details_order_text {
  padding-top: 60px;
}

.other_details_finish_text {
  padding-top: 8px;
  padding-bottom: 120px;
}
