.ingredients_element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 280px;
  padding-top: 16px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.ingredients_picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredients_price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ingredients_name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ingredients_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}
