.login_container {
  display: flex;
  width: 480px;
  flex-direction: column;
  margin: auto;
  color: white;
}

.header {
  align-self: center;
}

.mail_container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 80px;
  gap: 24px;
  flex-direction: column;
}

.size_button {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.registration_container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.grid_row {
  display: grid;
  grid-template-columns: 2;
  width: 100%;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.grid_item_1 {
  grid-column: 1;
}

.grid_item_2 {
  grid-column: 2;
  cursor: pointer;
}

.error_message {
  color: red;
  font-size: 14px;
  margin-bottom: 16px;
  text-align: center;
}
