.mail_container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 24px;
  flex-direction: column;
}

.buttons_container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
}

.error_message {
}

.loading_message {
}

.success_message {
}
