.constructor_element {
  display: flex;
  flex-direction: column;
  place-content: center center;
  gap: 24px;
}

.constructor_padding {
  gap: 16px;
}

.constructor_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.constructor_icon {
  padding-right: 40px;
}
