.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  padding-bottom: 20px;
  color: var(--text-primary-color);
  align-items: end;
  height: 100%;
}

.bun_top {
  flex-shrink: 0; /* Запрещаем сжиматься */
  padding: 0 16px 52px 16px;
  height: 52px;
}

.bun_bottom {
  flex-shrink: 0; /* Запрещаем сжиматься */
  padding: 0 16px 40px 16px;
  height: 52px;
  margin-bottom: 40px;
}

.ingredients_container {
  flex: 1 1 auto; /* Растягивается на всё доступное место */
  overflow-y: auto; /* Только здесь скролл */
  display: flex;
  flex-direction: column;

  padding: 16px 8px;

  /* Стили для скролла */
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

.ingredient_item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 52px;
  padding-bottom: 60px;
  padding-top: 16px;
}

.constructor_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.total_price {
  display: flex;
  align-items: center;
}

.constructor_icon {
  padding-right: 10px;
}

.error {
  color: #ff0000;
  background-color: #ffeeee;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #ff0000;
  border-radius: 8px;
  margin: 20px;
}

.message {
  text-align: center;
  color: #8585ad;
  padding: 40px;
  font-size: 18px;
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 520px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.checkmark {
  width: 120px;
  height: 120px;
  margin: 60px auto;
  background: #4C4CFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  position: relative;
  box-shadow: 0px 0px 16px rgba(76, 76, 255, 0.5);
}

.order_section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 20px;
  padding-right: 16px;
}

.price_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.empty_state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 600px;
  text-align: center;
  background: #1c1c21;
  border-radius: 40px;
}