.ingredient_page {
  max-width: 640px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
}

.container {
  width: 100%;
  text-align: center;

}

.not_found {
  text-align: center;
  padding: 100px 20px;
}

.not_found h2 {
  margin-bottom: 20px;
  color: #ff5252;
}

