.burger_ingredients {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  max-height: 100vh; /* Задайте максимальную высоту */
  overflow-y: auto; /* Добавляет вертикальную прокрутку */
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
  scrollbar-width: thin; /* Ширина скролла */
  box-sizing: border-box;
  overflow-x: hidden;

  /* Дополнительные стили для скролла (например, цвет) */

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  width: 100%;
}

.ingredients_scroll_container {
  height: calc(100vh - 300px);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
  color: #ff0000;
}

.error button {
  padding: 8px 16px;
  background-color: #4c4cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
